/* ================INSTRUCTIONS=================*/ 
/* By changing the classes below, you can add your own custom styles for various areas of the header. In order for your changes to work though, you MUST include a reference in your HTML pages to both the common CSS file and custom CSS file in that order.

Instructions are provided below for customizing these classes. */

/* ================BANNER=======================*/  
/* TO DISPLAY A CUSTOM BANNER IMAGE: 
If you want to display a custom banner, change the "background: url" to point to a local banner, or external, image location.

TO DISPLAY A CUSTOM BANNER COLOR (NO IMAGE): 
If you would rather display a color instead of a banner image, change the "background: url" portion to point to "" and set the background color (#006633) to whatever color you wish to display.
NOTE: You can use either hexadecimal color codes (i.e. - #006633, #063) or HTML color names (i.e. - "black"). */ 
#usgscolorband { 
	background: #000000; 
} 
/* ================SITE TITLE===================*/ 
/* TO DISPLAY A CUSTOM SITE TITLE BAR: 
The #usgstitle class is specific to the colored site title bar that lies beneath the USGS identifier. To change the color of this bar, set the "background-color" attribute below to the color you wish to display and change the "color" attribute to set the text color.
NOTE: You can use either hexadecimal color codes (i.e. - #000000) or HTML color names (i.e. - "black"). */ 
#usgstitle { 
  background-color: #80a2b8; 
  color: #ffffff;
  border-color: #80a2b8; 
}  
#usgstitle p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  float: none;
}
hr {
  height: 2px;
  color: #004472;
  background-color: #004472;
  margin-top: 15px;
  margin-bottom: 15px;
}
/* Highlight the active menu button */
body#home a#menu-home,
body#scitopics a#menu-sci,
body#prjs a#menu-prjs,
body#prja a#menu-prja,
body#pubs a#menu-pubs,
body#about a#menu-about,
body#news a#menu-news
{
  color: #ffffff;
  cursor: default;
  background-color: #80a2b8;
  border-color: #80a2b8;
  border-radius: 3px;
}

/* Styles that alter the header on small screens */
@media (max-width: 500px) {
  #usgsccsabox {
    display: none;
  }
}
@media (min-width: 501px) {
  #shrttitle {
    display: none;
  }
}
@media (max-width: 500px) {
  #fulltitle {
    display: none;
  }
}