html, body, #map {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
  padding-top: 50px;
}
.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}
.climateButton {
    width: 150px;
}
.modal {
    overflow-y: auto;
}
.navbar-header{
  margin-left:5px;
  width:100%;
}
.navbar-btn {
    margin-right: 15px;
}
.navbar-brand {
  padding:8px 4px;
}
.infoBox {  
	position:absolute;
	padding:4px;
	top:10px;
	left:50px;
	width:110px;
	height:40px;
	z-index:999;
	color: black;
	background-color:white;
	opacity:0.8;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
 }
 
.latlng {
	top:60px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.table {
  margin-bottom: 0px;
}
.btn-success {
color: white  !important;;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.leaflet-popup-content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.leaflet-popup-content-wrapper {
  border-radius: 5px;
}

@media (max-width: 992px) {
   .visible-tablet-mobile{
        display: none!important;
   }
}

/* not needed, now using hidden-xs helper class in markup */
@media screen and (max-width: 768px){
	.navButtonText {
		display:none;
	}
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}


@media only screen and (max-width:768px)  {
	
	.rt-instance-1>tbody>tr>td.rt-cell-1:before { content: "Recurrence Interval (yrs)"; }
	.rt-instance-1>tbody>tr>td.rt-cell-2:before { content: "StreamStats Discharge (cfs)"; }
	.rt-instance-1>tbody>tr>td.rt-cell-3:before { content: "Predicted Future Discharge (cfs) [Mean]"; }
	.rt-instance-1>tbody>tr>td.rt-cell-4:before { content: "Predicted Future Discharge (cfs) [Median]"; }
	.rt-instance-1>tbody>tr>td.rt-cell-5:before { content: "Predicted Future Discharge (cfs) [Max]"; }
	.rt-instance-1>tbody>tr>td.rt-cell-6:before { content: "Predicted Future Discharge (cfs) [Min]"; }
	.rt-instance-1>tbody>tr>td.rt-cell-7:before { content: "Predicted Future Discharge (% change) [Mean]"; }
	.rt-instance-1>tbody>tr>td.rt-cell-8:before { content: "Predicted Future Discharge (% change) [Median]"; }
	.rt-instance-1>tbody>tr>td.rt-cell-9:before { content: "Predicted Future Discharge (% change) [Max]"; }
	.rt-instance-1>tbody>tr>td.rt-cell-10:before { content: "Predicted Future Discharge (% change) [Min]"; }
										
}





